version: '3.9'

services:
  redis:
    image: redis:7-alpine
    command: ['redis-server', '--appendonly', 'yes']
    ports:
      - '6380:6379'
    volumes:
      - redis-data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 2s
      retries: 20

  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      REDIS_URL: redis://redis:6379
      REDIS_KEY: visits_by_country
      PORT: 4000
      HOST: 0.0.0.0
    ports:
      - '4000:4000'
    depends_on:
      redis:
        condition: service_healthy
volumes:
  redis-data:
